<template>
    <div class="main-questions">
        <div class="myQuestion" v-for="(question, index) in questions">
            <div class="row">
                <div class="col-md-6">
                    <blockquote>
                        Nombre des questions &nbsp;&nbsp;{{ index+1 }} / {{questions.length}}
                    </blockquote>
                    <h2 class="question">Q. &nbsp;{{question.question}}</h2>

                    <form class="myForm" action="/quiz_start"
                          v-on:submit.prevent="createQuestion(question.id, question.correct_answer, auth.id, question.topic_id)"
                          method="post">
                        <input class="radioBtn" v-bind:id="'radio'+ index"
                               :type="question.type == 'multiple' ? 'checkbox' : 'radio'" v-model="result.user_answer"
                               value="option_1" aria-checked="false"> <span>{{question.option_1}}</span><br>

                        <div v-if="question.option_2">
                            <input class="radioBtn" v-bind:id="'radio'+ index+1"
                                   :type="question.type == 'multiple' ? 'checkbox' : 'radio'"
                                   v-model="result.user_answer" value="option_2" aria-checked="false"> <span>{{question.option_2}}</span><br>
                        </div>
                        <div v-if="question.option_3">
                            <input class="radioBtn" v-bind:id="'radio'+ index+2"
                                   :type="question.type == 'multiple' ? 'checkbox' : 'radio'"
                                   v-model="result.user_answer" value="option_3" aria-checked="false"> <span>{{question.option_3}}</span><br>
                        </div>
                        <div v-if="question.option_4">
                            <input class="radioBtn" v-bind:id="'radio'+ index+3"
                                   :type="question.type == 'multiple' ? 'checkbox' : 'radio'"
                                   v-model="result.user_answer" value="option_4" aria-checked="false"> <span>{{question.option_4}}</span><br>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-8">
                                <button type="submit" class="btn btn-wave btn-block nextbtn">Suivant</button>
                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>
</template>
<script>
    export default {

        props: ['topic_id'],

        data() {
            return {
                questions: [],
                answers: [],
                result: {
                    question_id: '',
                    answer: '',
                    user_id: '',
                    user_answer: [],
                    topic_id: '',
                },
                auth: [],
            }
        },

        created() {
            this.fetchQuestions();
        },

        methods: {

            fetchQuestions() {
                this.$http.get(`${this.$props.topic_id}/quiz/${this.$props.topic_id}`).then(response => {
                    this.questions = response.data.questions;
                    this.auth = response.data.auth;
                }).catch((e) => {
                    console.log(e)
                });
            },

            createQuestion(id, ans, user_id, topic_id) {
                this.result.question_id = id;
                this.result.correct_answer = ans;
                this.result.user_id = user_id;
                this.result.subject_id = this.$props.topic_id;
                this.$http.post(`${this.$props.topic_id}/quiz`, this.result).then((response) => {
                    console.log('request completed');
                }).catch((e) => {
                    console.log(e);
                });
                this.result.user_answer = [];
                this.result.topic_id = '';
            }
        }
    }
</script>
